div.content {
  top: 25px;
  left: 25px;
  position: absolute;
}

div.container {
  border: 1px solid #d3d3d3;
  position: relative;
  height: 100%;
  border-radius: 4px;
  background: white;
  float: left;
  margin: 5px;
  max-width: 810px;
}

div.title {
  position: relative;
  height: 40px;
  max-width: 500px;
  line-height: 40px;
  align-items: center;
  border-radius: 4px;
  font-size: 22px;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center !important;
  font-weight: bold;
  background: #f5f5f5;
}

div.plot {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 5px;
}